*.netbeans_automatic_build
*.class
*~
*.mp3
.gwt/
.settings/
.project
.classpath
*/target/*
*/standalone/deployments/*
*/PODA/PODA-web/target/*
*/PODA/PODA-ear/target/*
*/PODA/PODA-ejb/target/*
/PODA/PODA-ear/target/**
/PODA/PODA-ejb/target/**
/PODA/PODA-web/target/**
