*~
PODA/PODA-ear/target/PODA-ear-1.0.ear
PODA/PODA-ear/target/PODA-ear-1.0/PODA-ejb-1.0.jar
PODA/PODA-ear/target/PODA-ear-1.0/PODA-web-1.0.war
PODA/PODA-ear/target/maven-archiver/pom.properties
PODA/PODA-ejb/target/PODA-ejb-1.0.jar
PODA/PODA-ejb/target/maven-archiver/pom.properties
PODA/PODA-ejb/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
PODA/PODA-web/target/PODA-web-1.0.war
PODA/PODA-web/target/maven-archiver/pom.properties
PODA/PODA-web/target/PODA-web-1.0/WEB-INF/classes/
