@font-face {
	font-family: 'GloriaHallelujah';
	src:  url('GloriaHallelujah.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

#manuscrita {
	font-family: 'GloriaHallelujah';
	color:#1B65BC;
 }


/*

@font-face {
	font-family: 'GloriaHallelujah'; // 'Pacifico'
	src:  url('GloriaHallelujah.ttf') format('truetype'); // 'Pacifico.ttf'
	font-weight: normal;
    font-style: normal;
}

#manuscrita {
	font-family: 'GloriaHallelujah';
	color:#1B65BC;
 }
s
*/